.un_bt_gallery {
  width: 100%;
  padding: 30px 46px;
}

.un_bt_gallery_container {
  align-items: center;
  display: flex;
  margin: 0 auto;
  // max-width: 1200px;
  height: 340px;
  position: relative;
}

.un_bt_carousel_title_container {
  max-width: 1200px;
  margin: 0 auto 64px auto;
  color: #131313;
}

.un_bt_carousel_main_title {
  font-weight: 600;
  font-size: 27px;
  line-height: 33px;
}

.un_bt_carousel_sub_title {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  max-width: 794px;
}

.un_bt_gallery_item {
  height: 150px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 150px;
  z-index: 0;
  background-color: #000;
  border-radius: 16px;
  cursor: pointer;
}

.un_bt_gallery_item_1,
.un_bt_gallery_item_2,
.un_bt_gallery_item_3,
.un_bt_gallery_item_4,
.un_bt_gallery_item_5 {
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.3));
  opacity: 1;
}

.un_bt_gallery_item_1 {
  left: 15%;
  transform: translateX(-60%);
  width: 300px;
  height: 300px;
}

.un_bt_gallery_item_2,
.un_bt_gallery_item_4 {
  height: 320px;
  opacity: 1;
  width: 320px;
  z-index: 1;
}

.un_bt_gallery_item_2 {
  left: 30%;
  transform: translateX(-50%);
}

.un_bt_gallery_item_3 {
  height: 340px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 340px;
  z-index: 2;
}

.un_bt_gallery_item_4 {
  left: 70%;
  transform: translateX(-50%);
}

.un_bt_gallery_item_5 {
  left: 85%;
  transform: translateX(-40%);
  height: 300px;
  width: 300px;
}

.un_bt_gallery_item_1 img,
.un_bt_gallery_item_1 h1,
.un_bt_gallery_item_5 img,
.un_bt_gallery_item_5 h1 {
  opacity: 0.4;
}

.un_bt_gallery_item_2 img,
.un_bt_gallery_item_2 h1,
.un_bt_gallery_item_4 img,
.un_bt_gallery_item_4 h1 {
  opacity: 0.7;
}

.un_bt_cover_image {
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.un_bt_title_gradiant {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.7;
  position: absolute;
  top: 0;
  height: 124px;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.un_bt_card_title {
  position: absolute;
  top: 0;
  padding: 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
  width: 100%;
  border-radius: 12px;
  text-transform: capitalize;
  -webkit-font-smoothing: antialiased;
}

.un_bt_card_title h1 {
  color: white;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.un_bt_gallery_controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  z-index: 10;
  position: absolute;
  width: 100px;
  // height: 100%;
  border-radius: 100%;
  cursor: pointer;
  border: 0;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.un_bt_gallery_controls_inner_container {
  height: 55px;
  width: 55px;
  background: black;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.un_bt_gallery_controls_previous {
  left: -46px;
  transform: rotate(180deg);
}

.un_bt_gallery_controls_next {
  right: -46px;
}

@media only screen and (max-width: 1024px) {
  .un_bt_gallery {
    padding: 20px 26px;
  }

  .un_bt_gallery_container {
    max-width: 500px;
  }

  .un_bt_carousel_title_container {
    margin-bottom: 36px;
  }

  .un_bt_title_gradiant {
    height: 68px;
  }


  .un_bt_gallery_item_1,
  .un_bt_gallery_item_5 {
    display: none;
  }

  .un_bt_gallery_item_2,
  .un_bt_gallery_item_4 {
    width: 250px;
    height: 250px;
  }

  .un_bt_gallery_item_3 {
    width: 270px;
    height: 270px;
  }

  .un_bt_card_title {
    font-size: 16px;
    line-height: 20px;
    padding: 14px;
  }

  .un_bt_gallery_controls_inner_container {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 512px) {
  .un_bt_gallery_container {
    max-width: 300px;
    height: 220px;
  }

  .un_bt_carousel_title_container {
    margin-bottom: 36px;
  }

  .un_bt_carousel_main_title {
    font-size: 18px;
    line-height: normal;
  }

  .un_bt_carousel_sub_title {
    font-size: 14px;
    line-height: normal;
  }

  .un_bt_gallery_item_1,
  .un_bt_gallery_item_2,
  .un_bt_gallery_item_3,
  .un_bt_gallery_item_4,
  .un_bt_gallery_item_5 {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
  }

  .un_bt_gallery_item_1,
  .un_bt_gallery_item_5 {
    display: none;
  }

  .un_bt_gallery_item_2,
  .un_bt_gallery_item_4 {
    width: 200px;
    height: 200px;
  }

  .un_bt_gallery_item_3 {
    width: 220px;
    height: 220px;
  }

  .un_bt_gallery_controls_inner_container {
    width: 30px;
    height: 30px;
  }

  .un_bt_gallery_controls_previous {
    left: -58px;
  }

  .un_bt_gallery_controls_next {
    right: -58px;
  }

  .un_bt_gallery_controls_previous img,
  .un_bt_gallery_controls_next img {
    width: 16px;
  }
}

.product-image-modal-container {

  border-radius: 20px;
  max-width: 1400px;
  width: 100%;
  max-height: 85vh;
  overflow: hidden;
  padding: 40px 40px 40px 40px;
  // border: 4px solid rgb(16, 21, 24, .8);
  animation: modalSlideIn .1s ease-out;
  -webkit-animation: modalSlideIn .1s ease-out;
  // background-color: #020303;
  z-index: 999999;
  min-height: 85vh;
  display: flex;
  align-items: center;
  position: relative;
}

.product-image-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: radial-gradient(circle at center, #000000d9, #000000f2);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.h-img-popup {
  height: 800px;
}

@media only screen and (max-width: 768px) {
  .h-img-popup {
    height: auto;
  }

  .product-image-modal-container {
    height: auto;

  }
}