/* CategoryCard Styles */
.card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: #f1f5f9; /* bg-slate-100 */
    border-radius: 0.75rem; /* rounded-xl */
    padding: 0.75rem; /* p-3 */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); /* shadow-m */
}

.imageWrapper {
    width: 100%;
}

.image {
    border-radius: 0.75rem; /* rounded-xl */
    aspect-ratio: 1 / 1; /* aspect-square */
    height: auto;
    object-fit: cover;
    width: 100%;
}

.footer {
    width: 100%;
    margin-top: 0.75rem; /* mt-3 */
    border-bottom-left-radius: 0.75rem; /* rounded-b-xl */
    border-bottom-right-radius: 0.75rem;
}

.title {
    font-size: 1rem; /* text-base */
    font-weight: 600; /* font-semibold */
    color: #000000; /* text-black-200 */
    overflow: hidden;
    text-overflow: ellipsis; /* overflow-ellipsis */
    text-transform: capitalize;
    height: 3.5rem; /* h-14 */
    text-align: center;
    margin: 0;
    
    /* Line Clamp */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;

    @media (min-width: 1024px) {
        font-size: 1.25rem; /* lg:text-xl */
    }
}
