.category-card-title {
    background: linear-gradient(180deg, rgba(27, 26, 26, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.category-card-footer .category-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.ant-message-custom-content { // added to fix the antd success message UI
    @apply flex items-center;
}