@import '../variable.module.scss.module';

$headerHeight: 80px;

.unthink-container {
    display: flex;
    // width: 100vw; // should be removed later
    // height: 100vh;

    &__horizontal {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;

        &-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0px;
        }

        &-home {
            height: 100%;
            flex: 1;
            overflow: auto;
            // background: url('../../images/background.svg');
        }

        &.full-view {
            min-width: 100%;
        }
    }

    &__collection {
        width: 314px;
    }
}

.header-container {
    height: $headerHeight;

    header{
        height: $headerHeight;
    }
}

.first-container{
    background-image: url(../../images/staticpageimages/home_bg1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.second-container{
    background-image: url(../../images/staticpageimages/home_bg2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.home-card-container {
    background: transparent linear-gradient(79deg, #292B2D 0%, #111415 100%) 0% 0% no-repeat padding-box;
}
