@import '../variable.module.scss.module';

.unthink-mobile-screen {
    background-color: $yellow;

    &__header {
        height: 50px;
        padding: 10px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__flex {
        height: calc(100% - 50px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 24px;

        .ant-typography {
            font-weight: 500;
        }

        .ant-image {
            width: 100px;
            padding-bottom: 20px;
        }
    }
}