/* Drag Handle Styles */
.dragHandleContainer {
	margin-right: 0.25rem;
}

.dragIcon {
	height: 20px;
	width: 20px;
}

/* Sortable Wishlist Item Styles */
.wishlistItemContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0.75rem;
	margin-top: 0.75rem;
	cursor: pointer;
}

.wishlistItemContainer.unpublishedBg {
	background-color: #dddddd;
}

.wishlistItemContainer.publishedContentBg {
	background-color: #cedfef;
}

/* Star Icon Styles */
.starIconContainer {
	font-size: 1.25rem;
	padding-right: 0.75rem;
	display: flex;
}

.starFilled {
	color: #F2C94C;
}

.starEmpty {
	color: #9e9e9e;
}

/* Checkbox Styles */
.checkboxInput {
	height: 0.25rem;
	/* width: 0.25rem; */
	margin-right: 0.5rem;
	cursor: pointer;
}

@media (min-width: 1024px) {
	.checkboxInput {
		height: 1rem;
	}
}

/* Title Styles */
.wishlistTitle {
	font-size: 1.25rem;
	font-weight: 500;
	word-break: break-word;
	margin: 0;
	width: 100%;
	text-align: left;
	text-transform: capitalize;
}

.userIconBadge {
	margin-left: 0.25rem;
	color: #4F46E5;
	display: inline-flex;
	font-size: 1.25rem;
}

/* Arrow Container Styles */
.arrowContainer {
	display: flex;
	align-items: center;
	min-width: min-content;
	position: relative;
}

.arrowIcon {
	font-size: 1.25rem;
	display: flex;
}

/* Loading Skeleton Styles */
.skeletonLoader {
	width: 100%;
	height: 2.25rem;
	margin: 0.5rem 0;
}

/* Container for control elements */
.controlsWrapper {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}
