#kiosk-search-options {
    .bubble {
        position: relative;
        font-family: sans-serif;
        font-size: 18px;
        line-height: 24px;
        width: 100%;
        background: #334155;
        border-radius: 32px;
        padding: 24px;
        text-align: center;
        color: #fff;
        top: 16px !important;
    }

    .bubble-bottom-left:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 24px solid #334155;
        border-right: 12px solid transparent;
        border-top: 12px solid #334155;
        border-bottom: 20px solid transparent;
        left: 32px;
        bottom: -20px;
    }
}