.arrowContainer {
    z-index: 10;
    background-color: #c4c4c4;
    /* lightgray-105 */
    background-color: rgba(196, 196, 196, 0.25);
    /* bg-opacity-25 */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* shadow-md-1 */
    backdrop-filter: blur(4px);
    /* backdrop-blur-sm */
    width: 32px;
    /* w-8 */
    height: 32px;
    /* h-8 */
    border-radius: 9999px;
    /* rounded-full */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    .arrowContainer {
        width: 64px;
        /* lg:w-16 */
        height: 64px;
        /* lg:h-16 */
    }
}

.arrowContainerLeft {
    left: 4px;
    /* left-1 */
}

.arrowContainerRight {
    right: 4px;
    /* right-1 */
}

.arrowIcon {
    display: flex;
    line-height: 1;
    /* leading-none */
    font-size: 14px;
    /* text-sm */
    color: #000000;
    /* text-black-200 */
}

@media (min-width: 1024px) {
    .arrowIcon {
        font-size: 20px;
        /* lg:text-xl */
    }
}