@import '../variable.module.scss.module';

.unthink-publisher {
    padding: 0px 20px;

    @media screen and (max-width:425px) {
        .ant-image-img {
            max-width: 90vw;
        }
    }

    .ant-image-img {
        max-width: 428px;
    }
}