@for $space-base from 1 through 200 {
    .h-#{$space-base}px {
        height: #{$space-base}px !important;
    }
}

    @for $space-base from 1 through 300 {
        .h-full-#{$space-base}px {
            height: calc(100% - #{$space-base}px) !important;
            min-height: 0px;
        }
    }

    @for $space-base from 1 through 400 {
        .w-full-#{$space-base}px {
            width: calc(100% - #{$space-base}px) !important;
            min-width: 0px;
        }
    }

    @for $space-base from 1 through 300 {
        .h-screen-#{$space-base}px {
            height: calc(100vh - #{$space-base}px) !important;
            min-height: 0px;
        }
    }

    @for $space-base from 1 through 600 {
        .w-#{$space-base}px {
            width: #{$space-base}px !important;
        }
    }

    @for $space-base from 1 through 600 {
        .min-w-#{$space-base}px {
            min-width: #{$space-base}px !important;
        }
    }

    @for $space-base from 1 through 600 {
        .h-#{$space-base}px {
            height: #{$space-base}px !important;
        }
    }

    @for $space-base from 1 through 100 {
        .p-l-#{$space-base}px {
            padding-left: #{$space-base}px !important;
        }
    }

    @for $space-base from 1 through 100 {
        .p-r-#{$space-base}px {
            padding-right: #{$space-base}px !important;
        }
    }

    @for $space-base from 1 through 100 {
        .p-t-#{$space-base}px {
            padding-top: #{$space-base}px !important;
        }
    }

    @for $space-base from 1 through 100 {
        .p-b-#{$space-base}px {
            padding-bottom: #{$space-base}px !important;
        }
    }

    @for $space-base from 1 through 100 {
        .m-b-#{$space-base}px {
            padding-bottom: #{$space-base}px !important;
        }
    }

    @for $space-base from 1 through 100 {
        .p-#{$space-base}px {
            padding: #{$space-base}px !important;
        }
    }

    @for $space-base from 1 through 5 {

        // class to add ellipsis in multiple lines from 1 to 5 like, ellipsis_2 will add ellipsis for 2 lines
        .ellipsis_#{$space-base} {
            display: -webkit-box;
            -webkit-line-clamp: #{$space-base};
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

/* purgecss ignore */
.ant-badge-dot {
    background-color: #55BE30 !important;
    width: 10px !important;
    height: 10px !important;
    right: 6px !important;
    top: 6px !important;
}

/* purgecss ignore */
.slick-slider .slick-prev {
    left: 0px;
}

/* purgecss ignore */
.slider-custom-arrow.slick-prev::before,
.slider-custom-arrow.slick-next::before {
    content: unset;
}

/* purgecss ignore */
.slider-custom-arrow.slick-prev::after,
.slider-custom-arrow.slick-next::after {
    content: unset;
}

/* purgecss ignore */
.ant-input-group {
    .ant-input-disabled {
        color: #000000 !important;
        background-color: #ffffff !important;
    }

    .ant-input-group-addon {
        background-color: #ffffff !important;

        button[disabled] {
            background-color: #ffffff !important;

            .ant-btn-loading-icon {
                color: #df5a43
            }
        }
    }
}

//loading indicator with button UI fix
.loading-button .anticon svg {
    display: block !important;
}

.static_page_bg {
    background: linear-gradient(180deg, #222F44 0%, #0E131B 100%);
}

.h-fit-content {
    height: fit-content;
}

.aspect-square {
    aspect-ratio: 1 / 1;
}

.shadow-m {
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.04)) drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
}

.h-min {
    height: min-content;
}

// Capitalizes the first character of a string
// use capital-first-letter class or also can use capitalFirstLetter function from util.js
.capital-first-letter::first-letter {
    text-transform: uppercase !important;
}


.Video_player video {
    object-fit: cover !important;
    border-radius:0.75rem;
}

.video-stream{
    object-fit: cover !important;
    border-radius:0.75rem !important;
}

.pagnation_product a {
    padding: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.ant-card-head{
    font-size: 20px !important;
    font-weight: 600 !important;
    text-align: center !important;
}