$mobileMaxWidth: 1024px;

.trusbar_container::before {
    position: absolute;
    top: -20px;
    right: -4px;
    width: 82px;
    height: 82px;
    background: #F2C94C;
    content: "";
    border-radius: 100%;
}

.trusbar_container::after {
    position: absolute;
    left: -12px;
    bottom: -42px;
    width: 100px;
    height: 100px;
    background: #6FCF97;
    content: "";
    border-radius: 100%;
}

.contact_us_container{
background-image: url(./../../images/newStaticPageImages/contactUs_bg.svg);
background-repeat: no-repeat;
background-size: cover;
}

.contact_us_inner_container{
background: linear-gradient(253.09deg, rgba(217, 217, 217, 0.25) -7.53%, rgba(217, 217, 217, 0) 97.04%);
backdrop-filter: blur(20px);
}