@import '../../style/variable.module';

$unthinkSharedUserImgSize: 150px;

.unthink-shared-user {
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;

    &__img-container {
        width: $unthinkSharedUserImgSize;
        height: $unthinkSharedUserImgSize;
        min-width: $unthinkSharedUserImgSize;

        img {
            width: $unthinkSharedUserImgSize;
            height: $unthinkSharedUserImgSize;
            border-radius: 50%;
            min-width: $unthinkSharedUserImgSize;
            object-fit: cover;
            object-position: top;
        }
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        width: 100%;

        &-name {
            font-weight: 700;
        }

        &-type {
            font-style: italic;
        }
    }

    &__share-container {
        min-width: 240px;
        width: 240px;
        display: flex;
        align-items: center;

        &-header {
            cursor: pointer;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $gray;
            padding: 10px;
        }

        .ant-typography {
            padding-left: 10px;
        }
    }

    &__share-option {
        position: relative;
    }
}