/* QAndAComponent CSS Module */

/* Wrapper */
.wrapper {
    z-index: 30;
    position: fixed;
    bottom: 8px;
    /* bottom-2 */
    right: 8px;
    /* right-2 */
    margin-bottom: 80px;
    /* mb-20 */
}

@media (min-width: 768px) {
    .wrapper {
        bottom: 32px;
        /* tablet:bottom-8 */
        right: 32px;
        /* tablet:right-8 */
        margin-bottom: 0;
        /* tablet:mb-0 */
    }
}

/* Trigger Button */
.triggerButton {
    display: flex;
    cursor: pointer;
    background-color: #4f46e5;
    /* bg-indigo-600 */
    border-radius: 9999px;
    /* rounded-full */
    font-size: 18px;
    /* text-lg */
    color: white;
    /* text-white */
}

@media (min-width: 768px) {
    .triggerButton {
        font-size: 36px;
        /* tablet:text-4xl */
    }
}

.triggerImage {
    border-radius: 9999px;
    /* rounded-full */
    height: 48px;
    /* h-12 */
    width: 48px;
    /* w-12 */
}

@media (min-width: 1024px) {
    .triggerImage {
        height: 64px;
        /* lg:h-16 */
        width: 64px;
        /* lg:w-16 */
    }
}

/* Popover Header */
.formHeader {
    line-height: 1;
    /* md:leading-none */
    font-weight: 400;
    /* font-normal */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    /* mb-0 */
    color: white;
    /* text-white */
}

.formTitle {
    font-size: 24px;
    /* text-2xl */
    font-weight: 600;
    /* font-semibold */
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .formTitle {
        font-size: 36px;
        /* tablet:text-4xl */
    }
}

@media (min-width: 1324px) {
    .formTitle {
        font-size: 28px;
        /* desktop:text-display-l */
        line-height: 32px;
    }
}

.closeIcon {
    display: flex;
    font-size: 24px;
    /* text-2xl */
    cursor: pointer;
    color: white;
    /* text-white */
}

.chatWrapper {
    margin-top: 8px;
    /* mt-2 */
}

/* Response Content */
.responseContent {
    margin-top: 8px;
    /* mt-2 */
}

.widgetHeader {
    margin-bottom: 8px;
    /* mb-2 */
    color: white;
    /* text-white */
    text-align: justify;
    /* text-justify */
}

.productsGrid {
    max-width: max-content;
    /* max-w-max */
    margin-left: auto;
    /* mx-auto */
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-cols-2 */
    gap: 16px;
    /* gap-4 */
}