/* Chat Container Wrapper */
.chatContainerWrapper {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

@media (min-width: 1024px) {
  .chatContainerWrapper {
    display: flex;
    gap: 0.75rem;
  }
}

@media (min-width: 1280px) {
  .chatContainerWrapper {
    width: 50%;
  }
}

/* Aura Icon Container */
.auraIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Aura Icon */
.auraIcon {
  cursor: pointer;
}

.auraIconStyled {
  border-radius: 9999px;
  padding: 0.25rem;
  border: 2px solid;
  border-style: solid;
  background-color: white;
  border-color: #818CF8; /* indigo-600 default Tailwind color */
}

/* Chat Modal Overlay */
.chatModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 40;
  height: 100%;
  overflow: auto;
  transform: translateZ(0);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.chatModalOpen {
  transform: translateY(0);
  transition-delay: 300ms;
  opacity: 1;
}

.chatModalClose {
  transform: translateY(-100%);
  opacity: 0;
}
