

/* Main container */
.chatmodal-modal-container {
  z-index: 10;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Close icon container */
.chatmodal-close-icon-container {
  font-size: 1.25rem;
  line-height: 1.75rem;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}

@media (min-width: 768px) {
  .chatmodal-close-icon-container {
    font-size: 1.5rem;
    line-height: 2rem;
    top: 0.5rem;
    right: 0.5rem;
  }
}

.chatmodal-close-icon {
  cursor: pointer;
  color: #232524;
}

.chatmodal-content-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
}

.chatmodal-content-wrapper-border {
  border-bottom: 2px solid #9e9e9e;
}

.chatmodal-content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatmodal-content-max-width {
 width: 100%;
  padding-left: 2.5rem;  /* px-10 */
  padding-right: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem; /* gap-4 */
  max-width: 56rem; /* max-w-4xl */
}

@media (min-width: 1024px) {
  .chatmodal-content-max-width {
    padding-left: 0;  /* lg:px-0 */
    padding-right: 0;
  
  }
}

@media (min-width: 1536px) {
  .chatmodal-content-max-width {
    max-width: 72rem; /* 2xl:max-w-6xl */
  }
}

/* Header section */
.chatmodal-header-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.chatmodal-header-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.chatmodal-header-icon {
  margin-bottom: auto;
}

.chatmodal-header-title {
  font-size: 3rem;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.2px;
}

@media (min-width: 768px) {
  .chatmodal-header-title {
    font-size: 3.75rem;
    line-height: 64px;
  }
}

.chatmodal-header-title-primary {
  color: rgb(99, 102, 241);
}

.chatmodal-header-title-secondary {
  color: #c4c7c5;
}

/* Search options grid */
.chatmodal-search-options-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.25rem;
}

@media (min-width: 768px) {
  .chatmodal-search-options-grid {
    gap: 1rem;
    grid-template-columns: repeat(var(--col-count, 1), minmax(0, 1fr));
  }
}

.chatmodal-search-option-card {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 100%;
  border-radius: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
  font-weight: 500;
  cursor: pointer;
  border-color: #9e9e9e;
  background-color: #F1F5F9;
}

@media (min-width: 768px) {
  .chatmodal-search-option-card {
    border-width: 2px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

.chatmodal-search-option-card-active {
  border-color: #334155;
  background-color: #334155;
}

.chatmodal-search-option-header {
  display: flex;
  justify-content: space-between;
}

.chatmodal-search-option-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #232524;
}

@media (min-width: 768px) {
  .chatmodal-search-option-title {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.chat_aura_products_search_skeleton {
  animation-duration: 1.75s !important;
  animation-fill-mode: forwards !important;
  animation-iteration-count: infinite !important;
  animation-name: placeHolderShimmer !important;
  animation-timing-function: linear !important;
  background-color: #f6f7f8 !important;
  background: linear-gradient(
    to right,
    rgb(165, 180, 252) 10%,
    rgb(129, 140, 248) 28%,
    rgb(67, 56, 202) 72%,
    rgb(165, 180, 252) 90%
  ) !important;
  background-size: 800px 104px !important;
  height: 2px !important;
  position: relative !important;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0;
  }

  100% {
    background-position: 800px 0;
  }
}

.chatmodal-search-option-title-active {
  color: white;
}

.chatmodal-search-option-setting {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatmodal-search-option-subtitle {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #9e9e9e;
  display: none;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .chatmodal-search-option-subtitle {
    font-size: 1rem;
    line-height: 1.5rem;
    display: block;
  }
}

.chatmodal-search-option-subtitle-active {
  color: white;
  @media (max-width:768px) {
  display: flex;
  }
}

.chatmodal-search-option-example-link {
  cursor: pointer;
  color: white;
  text-decoration: underline;
  white-space: nowrap;
  margin-top: auto;
}

/* Examples section */
.chatmodal-examples-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.chatmodal-examples-container {
  display: flex;
  gap: 1.25rem;
  overflow: auto;
  margin: -0.75rem;
  padding: 0.75rem;
}

.chatmodal-example-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 13rem;
  height: 228px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.75rem;
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
  background-color: #F1F5F9;
}

@media (min-width: 1536px) {
  .chatmodal-example-card {
    height: 16rem;
  }
}

.chatmodal-example-text {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.chatmodal-example-image-container {
  overflow: auto;
  height: 100%;
}

.chatmodal-example-image {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
}

.chatmodal-example-icon-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 9999px;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: auto;
}

/* Follow-up query section */
.chatmodal-followup-query-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  padding-right: 1.375rem;
}

@media (min-width: 768px) {
  .chatmodal-followup-query-container {
    border-radius: 9999px;
  }
}

@media (min-width: 1024px) {
  .chatmodal-followup-query-container {
    padding-right: 1.625rem;
  }
}

.chatmodal-followup-query-icon {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .chatmodal-followup-query-icon {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.chatmodal-followup-query-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #000000;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  line-height: 1;
}

@media (min-width: 1024px) {
  .chatmodal-followup-query-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* Image search section */
.chatmodal-image-search-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

@media (min-width: 768px) {
  .chatmodal-image-search-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
}

.chatmodal-upload-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 129px;
}

@media (min-width: 768px) {
  .chatmodal-upload-spinner-container {
    height: 188px;
  }
}

.chatmodal-upload-spinner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.chatmodal-upload-spinner-icon {
  color: rgb(29, 78, 216);
}

.chatmodal-image-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatmodal-image-preview-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  flex-direction: column;
  border-radius: 10px;
}

.chatmodal-image-preview-relative {
  position: relative;
  width: 100%;
  margin-bottom: 0.75rem;
}

@media (min-width: 768px) {
  .chatmodal-image-preview-relative {
    width: 404px;
  }
}

.chatmodal-image-preview {
  width: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .chatmodal-image-preview {
    width: 404px;
  }
}

.chatmodal-overlay-point {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  border-width: 2px;
  background-color: rgb(59, 130, 246);
  border-color: rgb(59, 130, 246);
  border-radius: 9999px;
  cursor: pointer;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.chatmodal-change-image-link {
  font-size: 1rem;
  line-height: 1.5rem;
  display: block;
  text-decoration: underline;
  cursor: pointer;
  padding-top: 0.5rem;
}

.chatmodal-dragger-wrapper {
  width: 100%;
}

.chatmodal-dragger {
  background-color: transparent;
  height: 129px;
  width: 100%;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .chatmodal-dragger {
    height: 188px;
  }
}

.chatmodal-dragger-text {
  width: 66.666667%;
  margin-left: auto;
  margin-right: auto;
}

.chatmodal-image-url-input {
  text-align: left;
  outline: none;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  height: 3rem;
  border-radius: 0.75rem;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
}

@media (min-width: 1024px) {
  .chatmodal-image-url-input {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.chatmodal-image-url-input::placeholder {
  color: #9a9b9b;
}

.chatmodal-divider-text {
  text-align: center;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.chatmodal-toggle-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
}

.chatmodal-toggle-upload-link {
  text-decoration: underline;
  cursor: pointer;
}

.chatmodal-textarea-container {
  height: max-content;
}

.chatmodal-textarea-wrapper {
  border-radius: 1rem;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
}

@media (min-width: 768px) {
  .chatmodal-textarea-wrapper {
    height: 188px;
  }
}

.chatmodal-textarea {
  text-align: left;
  outline: none;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
  border-radius: 1rem;
  width: 100%;
  min-height: 165px;
  height: 100%;
  resize: none;
  overflow-y: auto;
}

@media (min-width: 1024px) {
  .chatmodal-textarea {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.chatmodal-textarea::placeholder {
  color: #9a9b9b;
}

.chatmodal-submit-button-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

.chatmodal-submit-button {
  font-size: 0.75rem;
  line-height: 1rem;
  color: white;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  height: 100%;
  font-weight: 700;
  padding: 0.75rem;
  border-radius: 0.75rem;
}

@media (min-width: 768px) {
  .chatmodal-submit-button {
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%;
    max-width: 102px;
  }
}

.chatmodal-submit-button-disabled {
  background-color: rgb(129, 140, 248);
}

.chatmodal-submit-button-enabled {
  background-color: rgb(79, 70, 229);
}

/* Follow-up controls */
.chatmodal-followup-controls-container {
  display: flex;
  height: 1.25rem;
  gap: 0.5rem;
}

.chatmodal-followup-controls-mt4 {
  margin-top: 1rem;
}

.chatmodal-followup-controls-mt1 {
  margin-top: 0.25rem;
}

.chatmodal-followup-checkbox-container {
  display: flex;
  align-items: center;
  margin-left: 1.25rem;
}

.chatmodal-followup-checkbox {
  cursor: pointer;
  margin-right: 0.25rem;
  height: 0.875rem;
  width: 0.875rem;
}

.chatmodal-followup-label {
  cursor: pointer;
  color: #232524;
}

.chatmodal-followup-label-disabled {
  cursor: not-allowed;
  color: #9e9e9e;
}

.chatmodal-divider-vertical {
  border-left-width: 1.5px;
  height: 1.25rem;
}

.chatmodal-try-again-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #232524;
}

.chatmodal-try-again-button-disabled {
  cursor: not-allowed;
  color: #9e9e9e;
}

.chatmodal-reload-icon {
  display: flex;
  margin-right: 0.1875rem;
  stroke: currentColor;
  stroke-width: 2;
}

/* Server image section */
.chatmodal-server-image-container {
  position: relative;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

@media (min-width: 768px) {
  .chatmodal-server-image-container {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.chatmodal-server-image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .chatmodal-server-image {
    width: 404px;
    height: 400px;
  }
}

.chatmodal-server-image-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

@media (min-width: 768px) {
  .chatmodal-server-image-spinner-container {
    width: 404px;
    height: 400px;
  }
}

/* Helper message */
.chatmodal-helper-message-container {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.chatmodal-helper-message-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatmodal-helper-message-icon {
  border-radius: 9999px;
}

.chatmodal-helper-message-caret {
  color: #000000;
}

.chatmodal-helper-message-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #000000;
  font-weight: 500;
}

@media (min-width: 768px) {
  .chatmodal-helper-message-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* Products container */
.chatmodal-products-container {
  width: 100%;
  height: auto;
  background-color: white;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.chatmodal-products-container-overflow {
  overflow: hidden;
}

.chatmodal-products-loader {
  width: 100%;
  position: absolute;
}

/* Samskara section */
.chatmodal-samskara-container {
  padding-top: 0.75rem;
  width: 100%;
  max-width: var(--max-w-s-3);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 640px) {
  .chatmodal-samskara-container {
    max-width: var(--max-w-lg-1);
  }
}

@media (min-width: 1024px) {
  .chatmodal-samskara-container {
    padding-top: 1rem;
    max-width: var(--max-w-3xl-2);
    gap: 1.25rem;
  }
}

@media (min-width: 1536px) {
  .chatmodal-samskara-container {
    max-width: var(--max-w-6xl-2);
  }
}

.chatmodal-samskara-link {
  color: #000000;
  margin-right: auto;
}

.chatmodal-samskara-link-content {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.chatmodal-samskara-icon-wrapper {
  font-size: 1.125rem;
  line-height: 1.75rem;
  line-height: 1;
  display: flex;
  margin-right: 0.5rem;
}

.chatmodal-samskara-text {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
}

/* BT User section */
.chatmodal-bt-user-container {
  display: flex;
  height: 100%;
  max-height: 590px;
}

.chatmodal-bt-user-content {
  max-width: 56rem;
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin: auto;
}

@media (min-width: 1024px) {
  .chatmodal-bt-user-content {
    max-width: var(--max-w-3xl-2);
    padding-left: 0;
    padding-right: 0;
    gap: 5rem;
  }
}

@media (min-width: 1536px) {
  .chatmodal-bt-user-content {
    max-width: var(--max-w-6xl-2);
  }
}

.chatmodal-bt-user-examples-container {
  display: flex;
  gap: 1.25rem;
  overflow: auto;
  margin: -2.5rem;
  padding: 2.5rem;
}

.chatmodal-bt-user-example-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 228px;
  min-width: 13rem;
  height: 228px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.75rem;
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
  background-color: var(--lightgray-101);
}

@media (min-width: 1536px) {
  .chatmodal-bt-user-example-card {
    max-width: 20rem;
    height: 16rem;
  }
}
/* Left to Right Loading Animation */
@keyframes loadingBarAnimation {
  0% {
    width: 0%;
  }
  /* 50% {
    width: 70%;
  } */
  100% {
    width: 100%;
  }
}

.chatmodal-loading-bar-container {
  width: 100%;
  height: 2px;
  background-color: #f0f0f0;
  /* overflow: hidden; */
  border-radius: 2px;
}

.chatmodal-loading-bar {
  height: 100%;
  background: linear-gradient(90deg, #a5c1ea, #7C3AED, #4F46E5);
  background-size: 200% 100%;
  animation: loadingBarAnimation 1.6s ease-in-out infinite;
  border-radius: 2px;
}