.chat_search_input_container_ .ant-input-affix-wrapper,
.chat_search_input_container_ .ant-input-affix-wrapper-focused,
.chat_search_input_container_ .ant-input-affix-wrapper input {
    @apply bg-transparent border-transparent lg:text-xl shadow-none cursor-pointer placeholder-current text-current
}

.chat_search_input_container_ .ant-input-affix-wrapper {
    @apply pr-1 pl-0
}

.chat_search_input_container_ .ant-input-affix-wrapper input:focus {
    cursor: text;
}

.chat_search_input_container_ .ant-input-suffix .ant-input-clear-icon svg {
    font-size: 20px;
}

.header_chat_container_ {
    .speaker {
        visibility: visible !important;
    }
}

.chat-header-container {
    height: 72px;
}

.input-dark-theme .ant-input-clear-icon svg {
    color: white;
}

.input-dark-theme .ant-input:placeholder-shown {
    color: rgb(158, 158, 158) !important;
}

.input-light-theme .ant-input:placeholder-shown {
    color: rgb(158, 158, 158) !important;
}


.server-text h1 {
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.chat-header-container {
    .ant-switch-handle::before {
        @apply bg-lightgray-101
    }

    .ant-switch-checked .ant-switch-handle::before {
        @apply bg-black-103
    }
}

.hide-product-data {
    opacity: 0;
    animation-name: fadeFromTop;
    -webkit-animation-name: fadeFromTop;
    animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.show-product-data {
    animation-name: fadeFromBottom;
    -webkit-animation-name: fadeFromBottom;
    animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes fadeFromBottom {
    0% {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }

    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
        display: block;
    }
}

@keyframes fadeFromTop {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@keyframes wishlistModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.ant-select-selector .ant-select-customize-input{
    border: none !important;
 }
.wishlist-tags {
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        background-color: transparent !important;
    }

    .ant-select-multiple .ant-select-selection-item-remove {
        display: flex !important;
    }

    .ant-select-multiple .ant-select-selection-item {
        align-items: center;
        background-color: #dee3e8;
    }
}

.chat-suggestions-slider {
    .slick-list {
        //    max-width: 850px;
    }

    .slick-next {
        right: 0;
        justify-content: end;
    }
}

.mobile-profile-menu {
    .ant-menu-item {
        background-color: transparent !important;
    }
}

.explore_menu:hover {
    .menu_text {
        color: #ffffff80;
    }

    .explore_submenu_container {
        display: block !important;
    }
}

.custom_aura_tooltip {
    width: auto;
    color: #fff;
    padding: 16px;
    position: absolute;
    z-index: 1;
    top: 130%;
    left: 10%;
    margin-left: -60px;
    border-radius: 12px;
}

.custom_aura_tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 6%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    opacity: 0.8;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -800px 0
    }

    100% {
        background-position: 800px 0
    }
}

.aura_products_search_skeleton {
    animation-duration: 1.75s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, rgb(165, 180, 252) 10%, rgb(129, 140, 248) 28%, rgb(67, 56, 202) 72%, rgb(165, 180, 252) 90%, );
    background-size: 800px 104px;
    height: 3px;
    position: relative;
}

.custom_submit_image_tooltip {
    width: auto;
    color: #fff;
    padding: 11px;
    position: absolute;
    z-index: 1;
    top: 99%;
    left: 80%;
    margin-left: -60px;
    border-radius: 12px;
}

@media screen and (max-width: 768px) {
    .custom_submit_image_tooltip {
        left: 50%;
    }
}

@media screen and (max-width: 768px) {
    .custom_submit_image_tooltip::after {
        right: 5% !important;
    }
}

@media screen and (max-width: 390px) {
    .custom_submit_image_tooltip::after {
        right: 8% !important;
    }
}

.custom_submit_image_tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 8%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    opacity: 0.8;
}

.aura_camera_spin_loader {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 4s linear infinite;
}

// @media screen and (max-width: 1024px) {
//     .aura_camera_spin_loader {
//         width: 30px;
//         height: 30px;
//     }
// }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.chat_image_dragger {
    .ant-upload.ant-upload-drag {
        border: 3px dashed rgb(158, 158, 158) !important;

    }

    .ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon {
        font-size: 82px !important;
        color: rgb(158, 158, 158) !important;
    }

    .ant-upload {
        font-size: 16px !important;
    }

    @media screen and (max-width: 768px) {
        .ant-upload {
            font-size: 14px !important;
        }

        .ant-upload.ant-upload-drag .ant-upload {
            padding: 10px 0 !important;
        }

        .ant-upload.ant-upload-drag p.ant-upload-drag-icon {
            margin-bottom: 12px !important;
        }

        .ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon {
            font-size: 44px !important;
        }

    }

}