.chat_search_input_container_ .ant-input-affix-wrapper,
.chat_search_input_container_ .ant-input-affix-wrapper-focused,
.chat_search_input_container_ .ant-input-affix-wrapper input {
    @apply bg-transparent border-transparent lg:text-xl shadow-none cursor-pointer placeholder-current text-current
}

.chat_search_input_container_ .ant-input-affix-wrapper {
    @apply pr-1 pl-0
}

.chat_search_input_container_ .ant-input-affix-wrapper input:focus {
    cursor: text;
}

.chat_search_input_container_ .ant-input-suffix .ant-input-clear-icon svg {
    font-size: 20px;
}

.header_chat_container_ {
    .speaker {
        visibility: visible !important;
    }
}

.chat-header-container {
    height: 72px;
}

.input-dark-theme .ant-input-clear-icon svg {
    color: white;
}

.input-dark-theme .ant-input:placeholder-shown {
    color: rgb(158, 158, 158) !important;
}

.input-light-theme .ant-input:placeholder-shown {
    color: rgb(158, 158, 158) !important;
}


.server-text h1 {
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.chat-header-container {
    .ant-switch-handle::before {
        @apply bg-lightgray-101
    }

    .ant-switch-checked .ant-switch-handle::before {
        @apply bg-black-103
    }
}

.hide-product-data {
    opacity: 0;
    animation-name: fadeFromTop;
    -webkit-animation-name: fadeFromTop;
    animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.show-product-data {
    animation-name: fadeFromBottom;
    -webkit-animation-name: fadeFromBottom;
    animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes fadeFromBottom {
    0% {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }

    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
        display: block;
    }
}

@keyframes fadeFromTop {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@keyframes wishlistModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.ant-select-selector .ant-select-customize-input{
    border: none !important;
 }
.wishlist-tags {
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        background-color: transparent !important;
    }

    .ant-select-multiple .ant-select-selection-item-remove {
        display: flex !important;
    }

    .ant-select-multiple .ant-select-selection-item {
        align-items: center;
        background-color: #dee3e8;
    }
}

.chat-suggestions-slider {
    .slick-list {
        //    max-width: 850px;
    }

    .slick-next {
        right: 0;
        justify-content: end;
    }
}

.mobile-profile-menu {
    .ant-menu-item {
        background-color: transparent !important;
    }
}

.explore_menu:hover {
    .menu_text {
        color: #ffffff80;
    }

    .explore_submenu_container {
        display: block !important;
    }
}

.custom_aura_tooltip {
    width: auto;
    color: #fff;
    padding: 16px;
    position: absolute;
    z-index: 1;
    top: 130%;
    left: 10%;
    margin-left: -60px;
    border-radius: 12px;
}

.custom_aura_tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 6%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    opacity: 0.8;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -800px 0
    }

    100% {
        background-position: 800px 0
    }
}

.aura_products_search_skeleton {
    animation-duration: 1.75s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, rgb(165, 180, 252) 10%, rgb(129, 140, 248) 28%, rgb(67, 56, 202) 72%, rgb(165, 180, 252) 90%, );
    background-size: 800px 104px;
    height: 3px;
    position: relative;
}

.custom_submit_image_tooltip {
    width: auto;
    color: #fff;
    padding: 11px;
    position: absolute;
    z-index: 1;
    top: 99%;
    left: 80%;
    margin-left: -60px;
    border-radius: 12px;
}

@media screen and (max-width: 768px) {
    .custom_submit_image_tooltip {
        left: 50%;
    }
}

@media screen and (max-width: 768px) {
    .custom_submit_image_tooltip::after {
        right: 5% !important;
    }
}

@media screen and (max-width: 390px) {
    .custom_submit_image_tooltip::after {
        right: 8% !important;
    }
}

.custom_submit_image_tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 8%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    opacity: 0.8;
}

.aura_camera_spin_loader {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 4s linear infinite;
}

// @media screen and (max-width: 1024px) {
//     .aura_camera_spin_loader {
//         width: 30px;
//         height: 30px;
//     }
// }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.chat_image_dragger {
    .ant-upload.ant-upload-drag {
        border: 3px dashed rgb(158, 158, 158) !important;

    }

    .ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon {
        font-size: 82px !important;
        color: rgb(158, 158, 158) !important;
    }

    .ant-upload {
        font-size: 16px !important;
    }

    @media screen and (max-width: 768px) {
        .ant-upload {
            font-size: 14px !important;
        }

        .ant-upload.ant-upload-drag .ant-upload {
            padding: 10px 0 !important;
        }

        .ant-upload.ant-upload-drag p.ant-upload-drag-icon {
            margin-bottom: 12px !important;
        }

        .ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon {
            font-size: 44px !important;
        }

    }

}


/* Header Component Styles */

/* Mobile Bottom Navigation */
.mobileBottomNav {
    height: 72px;
    background-color: #f8f8f8;
    z-index: 40;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.1), 0 -1px 2px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    transform: translateY(0);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    color: #232524;

    @media (min-width: 1024px) {
        display: none;
    }

    @media (min-width: 768px) {
        justify-content: space-around;
    }
}

.mobileBottomNav:global(.dark) {
    background-color: #1a1a1a;
    color: #f8f8f8;
}

.mobileBottomNavHidden {
    transform: translateY(100%);
}

.mobileBottomNavVisible {
    transform: translateY(0);
}

.mobileNavItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobileNavItemCursor {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.mobileNavIconWrapper {
    display: flex;
}

.mobileNavText {
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;

    @media (min-width: 640px) {
        font-size: 14px;
    }
}

.mobileNavTextWithPt {
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    padding-top: 4px;

    @media (min-width: 640px) {
        font-size: 14px;
    }
}

.mobileNavTextCapitalize {
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;

    @media (min-width: 640px) {
        font-size: 14px;
    }
}

/* Mobile Header Sticky */
.mobileHeaderSticky {
    z-index: 40;
    position: sticky;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #e5e7eb;
    color: #232524;

    @media (min-width: 1024px) {
        display: none;
    }
}

/* Desktop Header Sticky */
.desktopHeaderSticky {
    z-index: 40;
    position: sticky;
    width: 100%;
    top: 0;
    color: #232524;

    @media (min-width: 1024px) {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    }
}

/* Desktop Header Container */
.desktopHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;

    @media (min-width: 768px) {
        justify-content: space-around;
    }

    @media (min-width: 1024px) {
        height: 72px;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.desktopHeaderContainer:global(.dark) {
    background-color: #f8f8f8;
}

.desktopHeaderLeft {
    display: none;
    align-items: center;

    @media (min-width: 1024px) {
        display: flex;
        margin-right: 48px;
    }

    @media (min-width: 1536px) {
        margin-right: 64px;
    }
}

.desktopHeaderLogoLink {
    padding-right: 56px;

    @media (min-width: 1280px) {
        padding-right: 80px;
    }
}

/* Desktop Navigation Items */
.desktopNavItem {
    padding-left: 12px;
    display: none;
    align-items: center;
    cursor: pointer;

    @media (min-width: 1024px) {
        display: flex;
    }

    @media (min-width: 1280px) {
        padding-left: 24px;
    }
}

.desktopNavText {
    font-weight: 600;
    line-height: 24px;

    @media (min-width: 1280px) {
        font-size: 16px;
    }
}

.desktopNavTextNoWrap {
    font-weight: 600;
    line-height: 24px;
    white-space: nowrap;

    @media (min-width: 1280px) {
        font-size: 16px;
    }
}

.desktopNavTextUppercase {
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;

    @media (min-width: 1280px) {
        font-size: 16px;
    }
}

/* Desktop Profile Section */
.desktopProfileSection {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
}

.desktopWishlistIcon {
    color: #000000;
    cursor: pointer;
    height: 24px;
    width: 24px;
    display: none;

    @media (min-width: 1024px) {
        display: block;
    }
}

/* Mobile Menu Icon Container */
.mobileMenuIconContainer {
    position: absolute;
    top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    z-index: 10;
    width: 100%;
    justify-content: flex-end;
    color: #232524;

    @media (min-width: 1024px) {
        display: none;
    }
}

.mobileMenuIcon {
    font-size: 18px;
    color: #000000;
    display: flex;
    height: 28px;
    width: 28px;
    cursor: pointer;
}

/* Mobile Menu Overlay */
.mobileMenuOverlay {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #060709;
    overflow: auto;
}

.mobileMenuCloseContainer {
    display: flex;
    justify-content: flex-end;
    padding: 24px;
}

.mobileMenuCloseIcon {
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
}

.mobileMenuContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 70vh;
}

/* Header Menu Items */
.headerMenuItemPy2 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.headerMenuLinkText {
    color: #ffffff;

    @media (min-width: 1024px) {
        color: #1a1a1a;
    }
}

.headerMenuLinkTextBase {
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    color: #ffffff;

    @media (min-width: 1024px) {
        color: #1a1a1a;
    }
}

.headerMenuSpanTextBase {
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    color: #ffffff;

    @media (min-width: 1024px) {
        color: #1a1a1a;
    }
}

.headerProfileMenuContainer {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1024px) {
        background-color: #ffffff;
        display: block;
    }
}

.dropdownOverlayFixed {
    position: fixed;
}


/* StorePageWrapper (index.js) Component Styles */

/* Store Page Container */
.storePageContainer {
    display: flex;
    flex-direction: column;
}

/* Loading Indicator */
.loadingIndicator {
    display: flex;
    justify-content: center;
}

/* Main Content Grid */
.mainContentGrid {
    padding-top: 24px;
    display: grid;
    gap: 8px;

    @media (min-width: 768px) {
        gap: 24px;
    }

    @media (min-width: 1024px) {
        padding-top: 48px;
        gap: 48px;
    }
}

.mainContentGridNoPadding {
    padding-bottom: 0;
}

.mainContentGridWithPadding {
    padding-bottom: 96px;
}

/* Backdrop Loader */
.backdropLoader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    backdrop-filter: blur(4px);
    background-color: #f1f5f9;
    z-index: 20;
}

.backdropLoaderIcon {
    display: flex;
    font-size: 60px;
    color: #818CF8;
}

.backdropLoaderIconSmall {
    font-size: 32px;
}

/* Hidden Utility Classes */
.hiddenUtilityClasses {
    display: none;
    height: 0;
    z-index: 30;
    position: fixed;
    bottom: 104px;
    left: 36px;
    padding: 4px;
    border-width: 2px;
    grid-template-columns: repeat(6, minmax(0, 1fr));

    @media (min-width: 1024px) {
        height: 340px;
        bottom: 32px;
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}

.hiddenTabletGrid {
    display: none;

    @media (min-width: 768px) {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}


/* PageDetails Component Styles */

/* Page Details Container */
.pageDetailsContainer {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 1024px) {
        width: 1024px;
    }
    @media (min-width:1536px) {
        width: 1328px;
    }
}

.pageDetailsInner {
  max-width: 1152px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .pageDetailsInner {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .pageDetailsInner {
    max-width: 1536px;
  }
}


/* Skeleton Loading States */
.skeletonBanner {
    width: 100%;
    height: 128px;

    @media (min-width: 1024px) {
        height: 320px;
    }
}

.skeletonProfileSection {
    margin-left: 16px;
    display: flex;
    align-items: flex-end;

    @media (min-width: 1024px) {
        margin-left: 48px;
    }
}

.skeletonProfileImageWrapper {
    margin-top: -64px;
    max-width: 256px;
    height: 120px;

    @media (min-width: 768px) {
        margin-top: -112px;
        height: 200px;
    }
}

.skeletonProfileImage {
    width: 120px;
    height: 120px;

    @media (min-width: 768px) {
        width: 200px;
        height: 200px;
    }
}

.skeletonProfileInfo {
    padding-left: 16px;
    width: 100%;

    @media (min-width: 1024px) {
        padding-bottom: 16px;
    }
}

.skeletonProfileName {
    height: 44px;
    width: 50%;
}
