@import '../variable.module.scss.module';

.brands-container {
    // background: $gray;
    background: url('../../images/background.svg');
    background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
    padding: 20px 0px;

}


.unthink-brands-container {
    background-image: url(../../images/staticpageimages/home_bg3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.brand-video {
        max-width: 600px;
        width: 100%;
        margin: 20px auto;
}