.unthink-mobile-menu {
    position: fixed;
    top: 0;
    z-index: 100000;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    align-items: flex-end;
    max-height: 100vh;
    overflow: auto;
    min-height: 100%;

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;


        a ,button {
            margin: 10px 0px;
            display: inline-block;
        }

        button {
            font-size: 16px;
        }
    }
}