@import '../variable.module.scss.module';

.unthink-home {
    background: url('../../images/background.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    &-container {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__header {
        display: flex;
        justify-content: center;
        padding: 15px 0px;

        .ant-typography {
            max-width: 700px;
            text-align: center;
        }
    }

    &__content {
        padding-bottom: 30px;

        iframe {
            max-width: 90vw;
            margin: 0 auto;
        }

        .ant-image {
            &-img {
                width: 100vw;
            }
        }
    }

    &__ecommerce {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $gray;
        padding: 20px 0px;
        min-height: 100vh;


        &-image {
            width: 50%;
            display: flex;
            justify-content: center;

            img {
                max-width: 340px;
                width: 100%;
            }
        }

        &-content {
            width: 50%;

            &--text {
                ul {
                    .ant-typography {
                        display: inline-block;
                    }

                    .list-dot {
                        display: inline-block;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        margin-right: 10px;
                    }
                }

                .ant-typography {
                    color: $textGray;
                    display: block;
                    font-size: 16px;
                }
            }
        }
    }

    &__aura {
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
        min-height: 100vh;

        &-header {
            .ant-typography {
                margin: 0 !important;
                text-align: center;
            }

        }

        &-subText {
            display: flex;
            justify-content: center;

            .ant-typography {
                text-align: center;
                font-size: 16px;
                color: $textGray;
                font-weight: 500;
            }
        }

        &-text {
            display: flex;
            width: 100%;
        }

        &-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 400px;
            max-width: 90vw;
            background: $lightGray;
            padding: 24px;
            border-radius: 3px;

            margin: 20px auto;

            &-img {
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;

                img {
                    width: 40px;
                    height: 40px;
                }
            }

            &-text {
                .ant-typography {
                    font-size: 16px;
                    color: $textGray;
                    font-weight: 500;
                    text-align: center;
                    padding-top: 10px;
                }
            }
        }

        &-img {
            width: 50%;
        }

        &-content {
            width: 50%;
        }
    }
}