.unthink-collection-body {
    &__header {
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: flex-end;
        img{
            cursor: pointer;
        }
    }
}