@import '../../style/variable.module';

.unthink-collection-gallery {
    &__header {
        display: flex;
        align-items: center;
        padding: 10px;

        &-icon {
            display: flex;
            padding-right: 10px;
            cursor: pointer;
        }
    }

    .in-progress-badge {
        background-color: $red;
    }

    .done-badge {
        background-color: $green;
    }

    .unthink-products {
        background-color: transparent;

        &__container {
            padding: 0px;

            &-product {
                min-width: 0px;
                width: 50%;
                padding: 10px 5px;

                &-image {
                    height: auto;
                }

                &-footer {
                    background-color: $lightGray;

                    &--text {
                        line-height: 0px;

                        .ant-typography {
                            font-size: 12px !important;
                        }
                    }

                    .ant-typography {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}