@import '../../style/variable.module';

.unthink-collection-modal {
    &__footer {
        display: flex;
        justify-content: flex-end;

        .ant-btn {
            min-width: 100px;
        }
    }

    &__error {
        color: $red;
    }
}