  .accordion_item {
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(1, 0, 1, 0);
    height: auto;
    max-height: 9999px;
  }
  
  .accordion_item.collapsed {
    max-height: 0;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
  }

  .accordion_content{
    transition: opacity .3s linear .18s;
    padding: 0.5rem 0;
  }
  
  .accordion_icon {
    margin-left: auto;
    transition: transform 0.2s ease;
  }
  
  /* Style to rotate icon when state is active */
  .rotate_accordion_icon {
    transform: rotate(-180deg);
  }
  