/* CSS module for SimilarProducts */

.sliderWrapper {
    width: 100%;
}

.skeletonContainer {
    height: 180px;
    /* h-180 */
    padding: 0.5rem;
    /* p-2 */
    display: grid;
    /* grid */
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* grid-cols-2 */
    gap: 0.1875rem;
    /* gap-0.75 */
    padding-top: 1.75rem;
    /* pt-7 */
}

@media (min-width: 1024px) {
    .skeletonContainer {
        height: 340px;
        /* lg:h-340 */
        grid-template-columns: repeat(4, minmax(0, 1fr));
        /* lg:grid-cols-4 */
        gap: 1.5rem;
        /* lg:gap-6 */
    }
}

.skeletonItem {
    width: 100%;
    height: 100%;
}

.skeletonItemDesktop {
    width: 100%;
    height: 100%;
    display: none;
    /* hidden */
}

@media (min-width: 1024px) {
    .skeletonItemDesktop {
        display: block;
        /* lg:block */
    }
}

.notFoundContainer {
    display: flex;
    /* flex */
    margin: auto;
    /* m-auto */
}

.notFoundText {
    margin: 0;
    /* m-0 */
    font-size: 1.25rem;
    /* text-xl */
}

.drawerContent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.drawerHeader {
    font-size: 1.25rem;
    /* text-xl */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 1024px) {
    .drawerHeader {
        font-size: 1.5rem;
        /* lg:text-2xl */
    }
}

.title {
    margin: 0;
}

.closeIcon {
    cursor: pointer;
}

.sliderContainer {
    padding-top: 1rem;
    /* pt-4 */
}

.productCardWrapper {
    width: 10rem;
    /* w-40 */
    cursor: pointer;
    margin-right: 0.625rem;
    /* mr-2.5 */
    height: 180px;
    /* h-180 */
}

@media (min-width: 640px) {
    .productCardWrapper {
        width: 180px;
        /* sm:w-180 */
    }
}

@media (min-width: 1024px) {
    .productCardWrapper {
        width: 20rem;
        /* lg:w-80 */
        margin-right: 1rem;
        /* lg:mr-4 */
        height: 340px;
        /* lg:h-340 */
    }
}