#chat_shop_a_look_inner_content {

    .collection_card_container {
        background-color: white;
    }

    .collection_card_header {
        background: linear-gradient(180deg, rgba(27, 26, 26, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .collection_name {
        color: white;
        @apply font-extrabold;
    }
}