.collections-content {
  padding: 2rem;
  text-align: center;
  height: fit-content;
  margin-top: 0px;

  // @font-face {
  //   font-family: 'HeadLineFont';
  //   src: url('/src/fonts/SwiftlyStyled/goodheadlinepro-black-italic.otf');
  // }

  // @font-face {
  //   font-family: 'SubHeadLineFont';
  //   src: url('/src/fonts/SwiftlyStyled/Poppins/Poppins-Regular.ttf');
  // }

  .headline {
    font-family: 'HeadLineFont';
    font-style: italic;
    font-weight: 900;
    letter-spacing: 0;
    text-align: center;
    color: #2c2c2c;
    font-size: 55px;
    margin-bottom: 1rem;
    margin-top: 50px;
  }

  .sub-headline {
    font-family: 'Poppins';
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.4;
    text-align: center;
    color: #2c2c2c;
    font-size: 25px;
    margin-bottom: 2rem;
    white-space: pre-line;
  }
}

@media (max-width: 768px) {
  .collections-content {
    margin-top: 0px;

  .headline {
    font-size: 40px;
  }

    .sub-headline {
      font-size: 20px;
    }
  }
}