#eras-bar {
    display: flex;
    width: 100%;
    height: 30px;
    padding: 0%;
    //position: absolute;
    margin-top: 0px;
    //border: 5px solid green;
    //margin-top: 100px;
    box-sizing: border-box;

    .eras-segment {
        flex-grow: 1;
        flex-basis: 0;
    }

    .debut {
        background-color: #a5c9a5;
    }

    .fearless {
        background-color: #efc180;
    }

    .speak-now {
        background-color: #c7a8cb;
    }

    .red {
        background-color: #7a2e39;
    }

    .l1989 {
        background-color: #b5e5f8;
    }

    .reputation {
        background-color: #746f70;
    }

    .lover {
        background-color: #f7b0cc;
    }

    .folklore {
        background-color: #cdc9c1;
    }

    .evermore {
        background-color: #c5ac90;
    }

    .midnights {
        background-color: #242e47;
    }

    .poets {
        background-color: #5f5b58;
    }
}

.eras-segment {
    flex-grow: 1;
    flex-basis: 0;
}

.debut {
    background-color: #a5c9a5;
}

.fearless {
    background-color: #efc180;
}

.speak-now {
    background-color: #c7a8cb;
}

.red {
    background-color: #7a2e39;
}

.l1989 {
    background-color: #b5e5f8;
}

.reputation {
    background-color: #746f70;
}

.lover {
    background-color: #f7b0cc;
}

.folklore {
    background-color: #cdc9c1;
}

.evermore {
    background-color: #c5ac90;
}

.midnights {
    background-color: #242e47;
}

.poets {
    background-color: #5f5b58;
}
