// @font-face {
//     font-family: 'bannerFont';
//     src: url('/src/fonts/SwiftlyStyled/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'LogoFont';
//     src: url('/src/fonts/SwiftlyStyled/Great_Vibes/GreatVibes-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'buttonFont';
//     src: url('/src/fonts/SwiftlyStyled/Poppins/Poppins-Bold.ttf') format('truetype');
// }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2c2c2c;
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.logo {
    font-family: LogoFont, sans-serif;
    font-size: 28px;
    letter-spacing: 0;
}

.chat-container {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.collections {
    display: flex; 
    align-items: center;
}

.collections button {
    font-family: buttonFont, sans-serif;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0;
    font-size: 15px;
    background-color: #2c2c2c;
    padding: 10px 20px;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

// .collections img {
//     width: 20px;
//     height: 20px;
//     cursor: pointer;
//     filter: invert(1);
//     align-items: end;
// }

// .user-icon img {
//     width: 20px;
//     height: 20px;
//     cursor: pointer;
//     filter: invert(1);
// }

.banner {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: bannerFont;
    font-size: 13px;
    letter-spacing: 1;
    text-align: center;
    height: 30px;
}
