#heroesVillains_desktop_header_menu {
    .header_menu_bottom_border {
        position: relative;
    }

    .header_menu_bottom_border::after {
        content: '';
        position: absolute;
        height: 2px;
        left: 0;
        bottom: -8px;
        width: 0;
        background: black;
        transition: width .5s;
    }

    .header_menu_bottom_border:hover::after {
        width: 100%;
    }

    .header_menu:hover {

        .submenu_container {
            display: block !important;
        }

        .header_menu_bottom_border::after {
            width: 100%;
        }
    }
}

.heroesVillains_mobile_drawer_menu {
    .ant-drawer-header {
        border-bottom: none !important;
    }

    .ant-drawer-header-title {
        display: flex;
    }

    .ant-drawer-close {
        margin-right: 0px !important;
    }
}