.auraResponseShopALookContainer {
	width: 100%;
}

.auraResponseTitleSection {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.25rem;
}

@media (min-width: 768px) {
	.auraResponseTitleSection {
		margin-bottom: 1.25rem;
	}
}

.auraResponseTitle {
	margin-bottom: 1.25rem;
	color: #1a202c;
	font-size: 1.125rem;
	line-height: 1.5rem;
	font-weight: bold;
}

@media (min-width: 1024px) {
	.auraResponseTitle {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}
}

.auraResponseGridContainer {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 0.625rem;
}

@media (min-width: 640px) {
	.auraResponseGridContainer {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (min-width: 1536px) {
	.auraResponseGridContainer {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

@media (min-width: 1024px) {
	.auraResponseGridContainer {
		gap: 1rem;
	}
}

.auraResponseCollectionCard {
	box-sizing: border-box;
	width: 160px;
}

@media (min-width: 640px) {
	.auraResponseCollectionCard {
		width: 180px;
	}
}

@media (min-width: 1024px) {
	.auraResponseCollectionCard {
		width: 320px;
	}
}

.auraResponseCardContainer {
	overflow: hidden;
	position: relative;
	cursor: pointer;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	border-top-left-radius: 0.75rem;
	border-top-right-radius: 0.75rem;
	border-bottom-left-radius: 0.75rem;
	border-bottom-right-radius: 0.75rem;
}

.auraResponseCardImageWrapper {
	height: 100%;
}

.auraResponseCardImage {
	width: 100%;
	height: 180px;
	object-fit: cover;
}

@media (min-width: 1024px) {
	.auraResponseCardImage {
		height: 340px;
	}
}

.auraResponseCardHeader {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	height: 3rem;
	z-index: 20;
}

@media (min-width: 1024px) {
	.auraResponseCardHeader {
		padding: 0.625rem;
		height: 5rem;
	}
}

.auraResponseCardHeaderOverflow {
	overflow: hidden;
}

.auraResponseCardHeaderFlex {
	display: flex;
}

.auraResponseCollectionNameText {
	margin: 0;
	font-size: 0.875rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	letter-spacing: -0.005em;
}

@media (min-width: 1024px) {
	.auraResponseCollectionNameText {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}
}

#chat_shop_a_look_inner_content {

    .collection_card_container {
        background-color: white;
    }

    .collection_card_header {
        background: linear-gradient(180deg, rgba(27, 26, 26, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .collection_name {
        color: white;
        @apply font-extrabold;
    }
}