@import '../../style/variable.module';

.unthink-share-collection {
    &__more-products-btn {
        margin: 5px 0px;
        @apply py-1 md:px-4 md:text-base text-sm text-white font-semibold rounded-lg ;
        &:hover {
            @apply text-white;
        }
    }
}

.unthink-share-url {
    position: absolute;
    top: 50px;
    right: 5px;
    background-color: $white;
    width: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 3px 0px #9F9F9F;
    border-radius: 10px;
    cursor: initial;
    padding: 16px;
    z-index: 10;

    &.disableFloating {
        position: relative;
        box-shadow: none;
    }

    &__header {
        font-size: 12px;
        font-weight: 700;
        padding-bottom: 10px;
        padding-left: 0px !important;
    }

    &__icons {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            padding: 0px;
            display: flex;
        }

        img {
            padding: 5px;
            cursor: pointer;
        }
    }

    &__link-option {
        width: 100%;
        display: flex;
        flex-direction: column;

        .ant-typography {
            font-weight: 700;
        }

        .ant-btn-primary {
            margin: 5px 0px;
        }

        &--copy {
            display: flex !important;
            justify-content: space-between;
            align-items: center;
            background: $gray;
            padding: 5px;
            border-radius: 3px;
            font-weight: 400 !important;
            width: 100%;

            .ant-typography {
                font-weight: 500;
                padding-left: 0px !important;
                width: 90%;
            }

            // &>span {
            //     width: 100%;
            //     white-space: nowrap;
            //     overflow: hidden;
            //     text-overflow: ellipsis;

            //     span {
            //         width: 100%;
            //     }
            // }

            .ant-typography-copy {
                color: black;
                display: flex;

                :hover {
                    color: $red;
                }
            }
        }
    }
}