.collection_description_ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 5 !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CollectionDetails_Img {
  width: 385px !important;
  // height: 520px !important;
}

.qrcode_image {
  width: 154px !important;
  height: 154px !important;
}

.colloction_details_tag_div {
  width: 385px !important;
  height: 20px !important;
  flex-shrink: 0 !important;
}

.CollectionDetails_Img video {
  object-fit: contain;
  border-radius: 0.75rem !important;
}

// .colloction_details_cards_div{
//     position: relative;
//     top: -155px;
// }

.colloction_details_tag {
  // position: relative;
  // top: -155px;
  // height: 0;
  // transition: all 0.3s ease;
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.tag_responsive_div{
  width: 100%;
}

// .colloction_details_tag_true {
//   position: relative;
//   top: -40px !important;
//   height: auto !important;
// }


.colloectionDetailScroll {
  scroll-behavior: smooth;
  white-space: nowrap;
  scrollbar-width: none;
  height: 50px;
  padding-right: 45px !important;
}

// #testDiv.colloction_details_tag_true {
//   top: 0 !important;
//   height: auto !important;
// }

.checkbox_singleCollection .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #7C74EC !important;
}

.checkbox_singleCollection > .ant-checkbox-checked > .ant-checkbox-inner {
  background-color: #7C74EC !important;
  border-color: #7C74EC !important;
}

.Video_player iframe {
  border-radius: 0.75rem !important;
}

//samskara
.collection_details_sticky_samskara{
  position: sticky !important;
  top: 190px !important;
}

//santhay
.collection_details_sticky_santhay{
  position: sticky !important;
  top: 90px !important;
}

//heroesvillains
.collection_details_sticky_heroesvillains{
  position: sticky !important;
  top: 180px !important;
}

.collection_details_sticky_swiftlystyled{
  position: sticky !important;
  top: 120px !important;
}

.collection_page_sort_product_list .ant-select-selection-item {
  font-size: 16px !important;
}

.addmore_image {
  right: -10px !important;
  top: -6px;
}

.addmore_image_edit{
  right: -10px !important;
  top: -4px;
}

.addmore_image_edit img{
  width:38px;
  height:38px;
}



@media screen and (max-width: 1530px) {
  .CollectionDetails_Img {
    width: 355px !important;
    // height: 520px !important;
  }

  .colloction_details_tag_div {
    width: 355px !important;
  }

  // .tag_responsive_div{
  //   width: 67%;
  // }

  .qrcode_image {
    width: 124px !important;
    height: 124px !important;
  }
}

@media screen and (max-width: 1235px) {
  .collection_details_sticky_samskara{
    position: sticky !important;
    top: 220px !important;
  }  
  //heroesvillains
.collection_details_sticky_heroesvillains{
  position: sticky !important;
  top: 200px !important;
}
}


@media screen and (max-width: 1023px) {
  .CollectionDetails_Img {
    width: 280px !important;
    // height: 400px !important;
  }

  .collection_details_sticky_samskara{
    position: sticky !important;
    top: 90px !important;
  } 

  //santhay
.collection_details_sticky_santhay{
  position: sticky !important;
  top: 20px !important;
}

  //heroesvillains
  .collection_details_sticky_heroesvillains{
    position: sticky !important;
    top: 90px !important;
  }

  .colloction_details_tag_div {
    width: 280px !important;
  }

  .qrcode_image {
    width: 104px !important;
    height: 104px !important;
  }

  // .tag_responsive_div {
  //   max-width: 900px !important;
  // }
  
  .colloectionDetailScroll {
    white-space: none !important;
    width: 98%;
    position: absolute;
    padding-right: 40px !important;
    margin-top: 20px !important;
    padding-bottom: 5px !important;
  }

  .addmore_image{
    right: -12px !important;
    scale: 0.9 !important;
    top:-15px !important;
  }

  .collection_page_sort_product_list .ant-select-selection-item {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 925px) {

  .share_button_responsive {
    left: -80px !important;
  }
}


@media screen and (max-width: 825px) {
  // .tag_responsive_div {
  //   width:60%;
  // }
  .all_collection_buttons{
    gap: 12px !important;
  }
}

@media screen and (max-width: 768px) {
  .CollectionDetails_Img {
    width: 260px !important;
    // height: 380px !important;
  }


  .colloction_details_tag_div {
    width: 260px !important;
  }

  .qrcode_image {
    width: 80px !important;
    height: 80px !important;
  }

  .collection_page_sort_product_list .ant-select-selection-item {
    font-size: 12px !important;
  }

  .share_button_responsive {
    left: -45px !important;
  }


  .addmore_image {
    scale: 0.8 !important;
    top: -23px !important;
    right: -15px !important;
}

}


@media screen and (max-width: 640px) {
  .CollectionDetails_Img {
    width: 100% !important;
    height: auto !important;
  }

  .collection_details_sticky_samskara,
  .collection_details_sticky_santhay,
  .collection_details_sticky_heroesvillains,
  .collection_details_sticky_swiftlystyled{
    position: relative !important;
    top: 0 !important;
  }

  // .video_relative_mobile {
  //   position: absolute !important;
  //   top: 0 !important;
  //   width: 100% !important;
  //   height: auto !important;
  //   padding-bottom: 0.75rem !important;
  // }
  
  .collection_details_pointer{
    pointer-events: none !important;
  }

  .colloction_details_tag_div {
    display: none !important;
  }

  .colloectionDetailScroll {
    white-space: none !important;
    position: absolute;
    padding-right: 65px;
    left: 0 !important;
  }

  .colloction_details_tag{
    flex-direction: column;
    align-items: start !important;
    justify-content: start !important;
    gap: 30px !important;
  }

  // .tag_responsive_div {
  //   width: 100% !important;
  // }

.addmore_image{
  right: -12px !important;
}

}