$mobileMaxWidth: 1024px;

@media only screen and (min-width: $mobileMaxWidth) {
    .product-card:hover {
        .buyNow_addWishlist_container {
            display: flex !important;
        }

        .product_card_footer_item {
            display: none !important;
        }
    }

    // apply css on hover to sibling class
    .product-card:hover~.product_card_header .view-similar-icon {
        visibility: hidden;
    }

    // apply css on hover to sibling class
    .view-similar-icon:hover~.product-name {
        display: none !important;
    }

    .view-similar-icon:hover>.view_similar_text {
        display: inline !important;
    }
}

// .buyNow_addWishlist_container { // added from theme // need to remove
//     background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.7) 100%) !important;
//     // border-radius: 12px;
// }

.product-card-action-container {

    .product-showcase-btn:hover>.showcase-btn-text,
    .product-remove-btn:hover>.remove-btn-text {
        display: inline !important;
    }
}

// themes

.theme-unthink {
    .product_card_container {
        background-color: white;
    }

    .product_card_header {
        background: linear-gradient(180deg, rgba(27, 26, 26, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .product_card_footer {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(27, 26, 26, 0.5) 100%);
    }

    .product_price {
        color: white;
        @apply font-semibold lg:font-extrabold
    }

    .product_listprice {
        color: #CBD5E1;
    }

    .product_discount {
        color: #BFDBFE;
        @apply font-bold;
    }

    .product_remove_icon {
        @apply text-white
    }

    .product_name {
        color: white;
        @apply font-extrabold;
    }

    .product_attribute {
        color: white;
    }

    .product_card_image img {
        object-fit: contain;
        background-color: white;
    }

    .view_similar_icon,
    .view_similar_text {
        color: white;
    }

    .product_add_to_wishlist_container {
        @apply border-white text-white;
    }
}

.theme-budgettravel {
    .product_card_container {
        background-color: #F6F6F6;
    }

    .product_price {
        color: #2195FF;
        @apply font-semibold lg:font-bold;
        text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;

    }

    .product_listprice {
        color: #A1A1A1;
        @apply font-medium;
    }

    .product_discount {
        color: #A1A1A1;
        @apply font-normal;
    }

    .product_remove_icon {
        @apply text-black-104
    }

    .product_name {
        color: #131313;
        text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
        @apply font-bold
    }

    .product_attribute {
        color: #131313;
        text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;

    }

    .product_card_image img {
        object-fit: contain;
        background-color: white;
    }

    .view_similar_icon,
    .view_similar_text {
        color: #131313;
    }

    .product_add_to_wishlist_container {
        @apply border-black-200 text-black-200;
    }

}