/* StatusUrl CSS Module */

.statusContainer {
    overflow: hidden;
    /* overflow-hidden */
    min-height: 100vh;
}

.resultWrapper {
    margin-left: auto;
    /* mx-auto */
    margin-right: auto;
}

@media (min-width: 1024px) {
    .resultWrapper {
        width: 50%;
        /* lg:w-2/4 */
    }
}

.textWhite {
    color: white;
    /* text-white */
}

.marginZero {
    margin: 0;
    /* m-0 */
}

.homeButton {
    background-color: #083dc1;
    /* bg-primary */
    border-radius: 0.25rem;
    /* rounded */
    color: white;
    /* text-white */
    padding-top: 0.25rem;
    /* py-1 */
    padding-bottom: 0.25rem;
    padding-left: 2.25rem;
    /* px-9 (assumed 2.25rem) */
    padding-right: 2.25rem;
    font-weight: 400;
    /* font-normal */
    font-size: 1.125rem;
    /* text-lg */
    border: none;
    cursor: pointer;
}