#aura-response-products-with-tags-container {
	.top-tag-wrapper {
		position: relative;

		.tag-loading-skeleton {
			position: absolute;
			top: 0;
			height: 100%;

			.ant-skeleton-button {
				height: 100%;
			}
		}
	}
}


/* Basic button styling */
.open-popup-btn, .close-popup-btn {
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  /* Overlay effect */
  .popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 104vh;
	backdrop-filter: blur(10px); /* Classy blur background effect */
	background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
  }
  
  /* Centered popup content */
  .popup-content {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	width: 90% ;
	max-width: 600px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
	text-align: center;
  }
  
  /* Close button hover effect */
  .close-popup-btn:hover {
	background-color: #3e8e41;
  }
  