@import '../../style/variable.module';

.unthink-collection-popup {
    display: flex;
    position: relative;

    &-container {
        position: absolute;
        background: $white;
        width: 208px;
        max-height: 200px;
        overflow: auto;
        padding: 18px;
        z-index: 1000;
        box-shadow: 0px 0px 3px -1px $black;

        &__collection {
            display: flex;
            align-items: center;

            &-create {
                display: flex;
                align-items: center;

                &>div {
                    display: flex;
                    align-items: center;

                    img {
                        width: 40px;

                    }
                }

                .ant-typography {
                    font-size: 12px;
                    font-weight: 700;
                }

                img {
                    width: 24px;
                    height: 24px;
                }
            }

            .ant-typography {
                padding-left: 10px;
            }

            .circle {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: $yellow;
            }
        }
    }
}