.collection-card-title {
    background: linear-gradient(180deg, rgba(27, 26, 26, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}
.collection-card-footer {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(27, 26, 26, 0.5) 100%);
}