@import '../../../style/variable.module.scss.module';

.unthink-user-profile {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px;
    background: white;
    border-radius: 5px;

    &-row {
        width: 33.33%;
        min-width: 200px;

        padding: 20px;

        &__header {
            padding: 0px 10px 20px;

            .ant-typography {
                font-weight: 500;
                font-size: 18px;
            }
        }

        &__content {
            display: flex;
            flex-wrap: wrap;

            .red {
                &>.ant-typography {
                    color: $white;
                    background-color: $red;
                }
            }

            &>div {
                width: 33.33%;
                min-width: 100px;
                padding: 5px 3px;

                &>.ant-typography {
                    width: 100%;
                    margin: 0px 10px;
                    border: 1px solid;
                    padding: 2px 10px;
                    border-radius: 10px;
                    text-align: center;
                    // cursor: pointer;
                    margin-left: 0px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;

                    // &:hover {
                    // color: white;
                    // background: $red;
                    // }
                    &>.ant-typography {
                        width: 100%;
                    }
                }
            }
        }

        &__footer {
            display: flex;
            justify-content: flex-end;
            padding: 0px 10px;

            .ant-typography {
                text-decoration: underline;
                cursor: pointer;
                color: #626262;
            }
        }
    }

}