@import '../variable.module.scss.module';

.unthink-collections {
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden;

    &__header {
        min-height: 48px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;

        .ant-typography {
            color: $white;
            font-size: 18px;
            font-weight: 500;
        }

        img {
            cursor: pointer;
        }
    }

    &__content {}
}

.bubble {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    background: #fff;
    border-radius: 32px;
    padding: 24px;
    text-align: center;
    color: #000;
  }
  
  .bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
  }

  // .bubble-bottom-left:after {
  //   content: "";
  //   background: url(../../images/chat/header_aura_image.png) no-repeat 0 0;
  //   background-size: 100%;
  //   width: 70px;
  //   height: 70px;
  //   @apply -bottom-12 md:-bottom-10 lg:-bottom-24 left-0 absolute
  // }
  